#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  border: solid #242424;
  border-radius: 1em;
}

.Fields {
  padding: 2em;
  display: grid;
  grid-template-columns: auto auto;
  /* gap: 10px; */
}

.Field {
  width: 4em;
  height: 4em;
  border-radius: 20px;
  text-align: center;
  color: #666;
  font-size: 2em;
  font-weight: bold;
  padding: 0em;
  margin: 10px;
  /* will-change: filter; */
  /* transition: filter 300ms; */
}

@keyframes shake {
    0% { transform: rotate(0deg); }
   25% { transform: rotate(10deg); }
   50% { transform: rotate(0deg); }
   75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.Field:hover {
  border-color: #4375c6aa;
  filter: drop-shadow(0 0 1em #4375c6aa);
  animation: shake 0.3s linear 2;
}

.lines {
  position: absolute;
  z-index: -1;
  top: 0; left: 0;
  stroke-width: 1.5em;
  stroke: red;
  stroke-linecap: round;
  stroke-opacity: 80%;
}
